APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost
APP_NAME="MediaPitch Store"
APP_KEY=change-this-to-a-long-random-string

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mediapitch_store
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4

SESSION_NAME=mediapitch_session
SESSION_SECURE_COOKIE=false
SESSION_IDLE_TIMEOUT=3600
LOGIN_ATTEMPT_WINDOW=600
LOGIN_ATTEMPT_LIMIT=5
LOGIN_BLOCK_SECONDS=900
PASSWORD_RESET_TTL=3600
MAIL_TRANSPORT=mail
MAIL_FROM=admin@mediapitch.in

ANALYTICS_RETENTION_DAYS=395
AUDIT_RETENTION_DAYS=730
AFFILIATE_ANALYTICS_EXCLUDE_IPS=
AFFILIATE_ANALYTICS_EXCLUDE_UA=

AMAZON_API_ENABLED=false
AMAZON_MARKETPLACE=www.amazon.in
AMAZON_PARTNER_TAG=
AMAZON_CREDENTIAL_ID=
AMAZON_CREDENTIAL_SECRET=
AMAZON_CREDENTIAL_VERSION=
AMAZON_API_RETRY_ATTEMPTS=3
AMAZON_AUTH_RETRY_ATTEMPTS=2
AMAZON_RETRY_BASE_MS=350
